// Helpers
.navbar {
    margin-bottom: 0; 
}
.circle {
    border-radius: 100%;
}
.avatar {
    img {
        width: 100%;
    }
}
.on-top {
    position: absolute;
    top: 0;
    z-index: 999;
}
.caption {
    z-index: 999;
    // display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    &.full-height {
        display: block;
        height: 100%;
        min-height: 200px;
    }
}
.slick-active {
    .caption {
        // display: block;
    }
}
.product {
    position: relative;
}
.navbar-brand {
    img {
        width: 120px;
        margin-top: -8px;
    }
}
