@import 'helper';
@import 'colours';
@import 'mixins';

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

section {
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 1px solid $divider;
    .avatar {
        width: 50px;
        img {
            border: 2px solid $base;
        }
        margin: 10px;
    }
    ul {
        margin: 0;
        padding: 0;
        &.slider {
            margin-bottom: 0px;
        }
        li {
            list-style: none;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
    .caption {
        background: rgba(0, 0, 0, 0.3);
        padding: 0px 10px 0px 10px;
        color: #ffffff;
        &.full-height {
            h3 {
                text-align: center;
                margin-top: 25%;
            } 
        } 
        p {
            float: left;
            width: 70%;
        }
        .price {
            margin-top: -20px;
            span {
                display: block;
                font-size: 22px;
            }
            float: right;
            text-align: right;
            width: 30%;
        }
    }
}

